.core_text_input {
    @apply flex h-8 items-center gap-2 overflow-hidden rounded-sm 
    bg-stream-dark-bg-800 py-0.5 px-2 transition-all duration-200 shadow-lg w-full;
    > input {
        @apply bg-transparent p-1 w-full text-white placeholder:text-stream-accent placeholder:opacity-60;
    }
    border: 2px solid transparent;

    &::focus-visible {
        @apply shadow-xl border-stream-accent;
    }

    @media (hover: hover) {
        &:hover {
            @apply shadow-xl border-stream-accent;
        }
    }
}

.stream_action_btn {
    @apply flex items-center gap-1 text-sm font-semibold transition-colors;

    &::focus-visible {
        @apply text-stream-accent;
    }
    @media (hover: hover) {
        &:hover {
            @apply text-stream-accent;
        }
    }
}

.stream_core_btn {
    @apply gap-1 text-sm font-bold text-white whitespace-nowrap relative
    transition-shadow rounded-md px-3 py-1.5 bg-stream-accent select-none;
    box-shadow: 0px 0px 8px var(--stream-accent);

    &::focus-visible {
        box-shadow: 0px 0px 12px var(--stream-accent);
    }
    @media (hover: hover) {
        &:hover {
            box-shadow: 0px 0px 12px var(--stream-accent);
        }
    }

    &:disabled {
        @apply opacity-60 pointer-events-none;
    }

    > * {
        @apply relative;
    }
}

.loading {
    > div {
        top: calc(50% - 0.1rem);
    }
}

.btn_error_animation {
    @apply animate-errorBtn;
}

.select_wrapper {
    @apply flex appearance-none items-center rounded-md border-2 border-transparent bg-black px-2 py-1 outline-none;
    &:focus {
        @apply border-stream-accent;
    }
    .caret_wrapper {
        @apply flex flex-col justify-center pl-4;
        > svg {
            @apply h-2 w-2;
        }
    }
}

.option_wrapper {
    @apply flex w-full appearance-none items-center gap-2 px-2 py-1 bg-transparent outline-none;

    @media (hover: hover) {
        @apply cursor-pointer   hover:text-stream-accent;
    }
    &:focus-visible {
        @apply text-stream-accent;
    }

    .thumb_container {
        @apply flex items-center text-stream-accent w-5 h-6;
        > * {
            @apply h-5 w-6;
        }
    }

    .value_wrapper {
        @apply flex flex-col;
        p {
            @apply font-light;
        }
    }
}

.options_box {
    @apply absolute left-0 z-20 w-max animate-fadeIn overflow-y-scroll rounded-lg bg-white py-1.5 shadow-sm;
    top: calc(100% + 0.5rem);
    max-height: 20rem;
    scrollbar-width: 0px;
    &::-webkit-scrollbar {
        @apply w-0;
    }
}

.dropdown_error {
    @apply text-stream-accent font-semibold text-xs;
}
